<!DOCTYPE html>
<html lang="en" xmlns:http="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html" ng-app="homeApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Log-Based Cloud Monitoring for OpenStack</title>
    <meta name="description" content="OpenStack Components">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

     <style>
     .grey{
              background-color: #ccc;
              padding: 20px;
     }

     </style>

    <script
            src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>

    <script src="./controllers/homeController.js"> </script>

</head>

<body>

      <header>
          <div class="jumbotron">
              <div class="container">
                      <h1>Log-Based Cloud Monitoring for OpenStack</h1>
                      <h3>OpenStack Components</h3>
              </div>
          </div>
      </header>

      <div ng-controller="homeController">

      <div ng-show="data.instanceAlert" class="alert alert-warning">
          <strong>Warning!</strong> Please release instances or increase the instance quota
      </div>

      <div ng-show="data.volumeAlert" class="alert alert-warning">
          <strong>Warning!</strong> Please release volumes or increase the volume quota
      </div>

          <div ng-show="data.FloatingIpAlert" class="alert alert-warning">
              <strong>Warning!</strong> Please release Floating IPs or increase the quota for Floating IPs
          </div>

          <div ng-show="data.securityGroupAlert" class="alert alert-warning">
              <strong>Warning!</strong> Please release Security Groups or increase the quota for Security Groups
          </div>
      </div>
      <div class="container" ng-controller="homeController">
          <div class="well">
              <table class="table table-striped table-bordered table-hover datatable">
                  <thead>
                  <th><b>Time</b></th>
                  <th><b>Log Level</b></th>
                  <th><b>Message</b></th>
                  </thead>
                  <tbody ng-repeat="x in data.infoMessageForHomePage">
                  <tr class="info" >
                      <td>{{x.timestamp}}</td>
                      <td>{{x.loglevel}}</td>
                      <td>{{x.message}}</td>
                      <td>{{x.instanceIp}}</td>
                  </tr>

                  </tbody>
              </table>
          </div>
      </div>



      <footer>

      </footer>
     <!-- Latest compiled and minified JavaScript -->
      <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>





</body>
</html>