<!DOCTYPE html>

<html lang="en" xmlns:http="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html" ng-app="neutronApp">
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script
            src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>

    <script src="./controllers/neutronController.js"> </script>

</head>
<body>
<p>Welcome to</p>
<div ng-controller="neutronController">



    <div ng-repeat="x in data">
        {{x}}

    </div>
</div>

</body>
</html>